.paginator {
  margin: 20px 0;
}

.paginator span {
  display: inline-block;
  text-align: center;
  width: 25px;
  padding: 3px;
  background: #f0f0f0;
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  cursor: pointer;
}

.paginator span:hover,
.paginator span.current {
  color: white;
  background: #aaa;
}

.paginator span+span {
  margin-left: 2px;
}